.env
slack-bot.env
logs/
content/generated/
__pycache__/
*.pyc
node_modules/
.DS_Store
*.tmp
.slack-prompt.tmp
data/.tiktok_cookies.*
content/temp_videos/
api/.wrangler/
Thumbs.db
*.log
TK_cookies_*.json
.venv/
data/public_data/*.xlsx
data/public_data/*.zip
data/public_data/*.csv
data/public_data/hospital_facility/
data/public_data/hospital_specialty/
content/temp_instagram/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example

# Local Netlify folder
.netlify
